 body {
    font-family: "Microsoft YaHei", Lucida, sans-serif, monospace;
    font-size: 12px;
    width: 50%;
    line-height: 150%;
  }

   #table-of-contents {
      margin: 5% 20% 5% 20%;
	    font-size: 10pt;
	    position: fixed;
	    right: 0em;
	    top: 0em;
	    background: white;
	    line-height: 12pt;
	    text-align: right;
	    box-shadow: 0 0 1em #777777;
	    -webkit-box-shadow: 0 0 1em #777777;
	    -moz-box-shadow: 0 0 1em #777777;
	    -webkit-border-bottom-left-radius: 5px;
	    -moz-border-radius-bottomleft: 5px;
	    /* ensure doesn't flow off the screen when expanded */
	    max-height: 80%;
	    overflow: auto; }
  #table-of-contents h2 {
	    font-size: 13pt;
	    max-width: 9em;
	    border: 0;
	    font-weight: normal;
	    padding-left: 0.5em;
	    padding-right: 0.5em;
	    padding-top: 0.05em;
	    padding-bottom: 0.05em; }
  #table-of-contents #text-table-of-contents {
	    display: none;
	    text-align: left; }
  #table-of-contents:hover #text-table-of-contents {
	    display: block;
	    padding: 0.5em;
	    margin-top: -1.5em; }

  h1 {
    font-size: 12pt;
  }

  .title {
    font-family: "Palatino Linotype", Perpetua, Palatino, serif;
    font-size: 18pt;
    color: #990000;
    padding-bottom: 7px;
    margin-bottom: 30px;
    border-bottom: 2px solid #222;
  }

  h2 {
    font-family: "Palatino Linotype", Perpetua, Palatino, serif;
    font-size: 12pt;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 2px solid #DDD;
    color: #DDD;
  }

  h3 {
    font-family: "Palatino Linotype", Perpetua, Palatino, serif;
    font-size: 11pt;
    color: #333333;
  }

  h4 {
    font-size: 9pt;
  }

  a {
    text-decoration: none;
    color: #000999
  }

  a:visited {
    text-decoration: none;
    color: #009999
  }

  a:hover {
    text-decoration: underline;
    color: #003333
  }

  .todo {
    color: #990000;
  }

  .done {
    color: #006666;
  }


  li {
    margin: .3em;
  }

  code {
    font-family: Monaco, Consolas, monospace;
    font-size: 100%;
    background-color: white;
    color: gray;
  }

  pre {
      background-color: #FFFACD;
      border: 1px solid grey;
      font-family: Monaco, Consolas, monospace;
      font-size: 75%;
      color: black;
      overflow: auto;
      padding: 1em;
  }

  pre.a {
    color: inherit;
    background-color: inherit;
    font: inherit;
    text-decoration: inherit;
  }
  pre.a:hover {
    text-decoration: underline;
  }

  #postamble {
	    font-size: 75%;
	    margin-top: 10px;
	    padding: .2em;
	    border: 1px solid gray;
	    background-color: #FFFACD;
	    z-index: -1000;
  }
