@media all {
 body {
    font-family: Verdana ,"Microsoft YaHei", Lucida, sans-serif, monospace;
    font-size: 15px;
    margin: 5% 20% 5% 0%;
    padding: 2% 5% 5% 5%;
    border: 1px solid Gainsboro;
    width: 75%;
    line-height: 110%;
    box-shadow: 0 0 1em #777777;
	  -webkit-box-shadow: 0 0 1em #777777;
	  -moz-box-shadow: 0 0 1em #777777;
	  -webkit-border-bottom-left-radius: 5px;
	  -moz-border-radius-bottomleft: 5px;
}

blockquote {
    text-align: right;
    margin-bottom: 50px;
    font-family: "Times New", "Courier New";
}
.title {
    font-family: "Courier New", "Palatino Linotype", serif;
    font-size: 19px;
    color: #990000;
    margin-bottom: 30px;
    border-bottom: 2px solid Gainsboro;
}

h2 {
    font-family: "Courier New", "Palatino Linotype", serif;
    border-bottom: 1px solid Gainsboro;
    line-height: 110%;
    padding-bottom: 0.1em;
    padding-left: 0.2em;
    padding-right: -0.5em;
    font-size: 17px;
    margin-bottom: 0;
    margin-top: 0;
}

h3 {
    font-family: "Courier New", "Palatino Linotype", serif;
    padding: 3px;
    font-size: 15px;
    margin-bottom: 0;
}

h4 {
    font-family: "Courier New", "Palatino Linotype", serif;
    line-height: 110%;
}

a {
    text-decoration: none;
    color: #000999;
}

a:visited {
    text-decoration: none;
    color: #009999;
}

a:hover {
    text-decoration: underline;
    color: #003333;
}

li {
    margin-left: 3px;
    font-size: 12px;
}

p {
    font-size: 12px;
}
code {
    font-family: Monaco, Consolas, monospace;
    font-size: 12px;
    background-color: white;
    color: gray;
}

pre {
      background-color: #FFFACD;
      border: 1px solid Gainsboro;
      font-family: Monaco, Consolas, monospace;
      font-size: 75%;
      color: black;
      overflow: auto;
      padding: 1em;
}
#postamble {
	    font-size: 75%;
	    margin-top: 50px;
	    border: 1px solid Gainsboro;
	    background-color: #FFFACD;
      box-shadow: 0 0 1em #777777;
	    -webkit-box-shadow: 0 0 1em #777777;
	    -moz-box-shadow: 0 0 1em #777777;
	    -webkit-border-bottom-left-radius: 5px;
	    -moz-border-radius-bottomleft: 5px;
}

.todo {
    color: #990000;
    font-weight: bold;
}
.done {
    color: #006666;
    font-weight: bold;
}

#table-of-contents {
    position: fixed;
    right: 0em;
    top: 0em;
    text-align: right;
    overflow: auto;
    background: white;
    box-shadow: 0 0 1em #777777;
	  -webkit-box-shadow: 0 0 1em #777777;
	  -moz-box-shadow: 0 0 1em #777777;
	  -webkit-border-bottom-left-radius: 5px;
	  -moz-border-radius-bottomleft: 5px;
    max-height: 80%;
}
#table-of-contens h2 {
	  font-size: 13pt;
	  max-width: 9em;
	  border: 0;
	  font-weight: normal;
}

#table-of-contents #text-table-of-contents {
    border: 0;
	  display: none;
	  text-align: left;
}
#table-of-contents:hover #text-table-of-contents {
  	display: block;
  	padding: 0.5em;
	  margin-top: -1.5em;
}

.org-center {
    font-family: "Times New" ,Courier ,"Courier New", "Palatino Linotype", serif;
    font-size: 10px;
    line-height: 90%;
}

}

