body {
    background-color: #dddddd;
    font-family: Georgia, "Microsoft YaHei", Lucida, sans-serif, monospace;
    font-size: 18px;
    margin: 5% 20% 5% 20%;
}
#content {
    background-color: white;
    padding: 2% 5% 2% 5%;
    border: 1px solid Gainsboro;

    box-shadow: 0 0 1em #777777;
}

blockquote {
    text-align: right;
    padding-right: 5px;
    background-color: #FFFACD;
    border: 1px dashed Gainsboro;

    margin-bottom: 150px;
}
blockquote p {
    margin: .2em;
}


.title {
    color: #990000;
    text-align: center;
    border-bottom: 4px solid Gainsboro;
}

h2 {
    /*color: #990000;*/
    border-bottom: 2px solid Gainsboro;
    margin-top: 80px;
    margin-bottom: 30px;
    padding-left: 10px;
}

h3 {
    color: gray;
    margin-top: 20px;
    margin-bottom: 0px;
}

h4 {
    padding-left: 1%;
}

a {
    text-decoration: none;
    color: #000999;
}

a:visited {
    text-decoration: none;
    color: #009999;
}

a:hover {
    text-decoration: underline;
    color: #003333;
}

li {
    /*padding: 5px;*/
}

code {
    font-family: Georgia, "Courier New", serif;
    background-color: white;
    font-size: 16px;
    font-style: italic;
}

#postamble p, #preamble p { font-size: 90%; margin: .2em; }
#postamble {
    background-color: #FFFACD;
    border: 1px dashed Gainsboro;

    margin-top: 50px;

    box-shadow: 0 0 1em #777777;

}
#preamble {
    background-color: #FFFACD;
    margin-bottom: 50px;
    border: 1px dashed Gainsboro;
    box-shadow: 0 0 1em #777777;
    -webkit-box-shadow: 0 0 1em #777777;
    -moz-box-shadow: 0 0 1em #777777;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
}


#table-of-contents {
	font-size: 10pt;
    line-height: 12pt;
	position: fixed;
	right: 0em;
	top: 0em;
	background: white;
	text-align: right;
	box-shadow: 0 0 1em #777777;
	max-height: 80%;
	overflow: auto;
}
#table-of-contents h2 {
	font-size: 13pt;
	max-width: 9em;
	border: 0;
    margin-top: .2em;
    margin-bottom: .2em;
	font-weight: normal;
	padding-left: 0.5em;
	padding-right: 0.5em;
	padding-top: 0.05em;
	padding-bottom: 0.05em;
}
#table-of-contents #text-table-of-contents {
	display: none;
	text-align: left;
}
#table-of-contents:hover #text-table-of-contents {
	display: block;
	padding: 0.5em;
	margin-top: -1.5em;
}
#table-of-contents li  {
    margin: .2em;
}




/* org-html-default-style */

.todo {
    color: #990000;
    font-weight: bold;
}
.done {
    color: #006666;
    font-weight: bold;
}

.org-agenda-structure {
    font-size: 110%;
    color: #003399;
    font-weight: 600;
}
.org-todo {
    color: #cc6666;
    font-weight: bold;
}
.org-agenda-done {
    color: #339933;
}
.org-done {
    color: #339933;
}


.org-ul {
}
.org-dl {
    margin-left: 20px;
}


.tag    { background-color: #eee; font-family: monospace;
          padding: 2px; font-size: 80%; font-weight: normal; }
.timestamp { color: #bebebe; }
.timestamp-kwd { color: #5f9ea0; }
.right  { margin-left: auto; margin-right: 0px;  text-align: right;}
.left   { margin-left: 0px;  margin-right: auto; text-align: left; }
.center { margin-left: auto; margin-right: auto; text-align: center; font-style: italic;}

.underline { text-decoration: underline; }
#postamble p, #preamble p { font-size: 90%; margin: .2em; }
p.verse { margin-left: 3%; }















pre {
    /* background-color: black;
       color: white; */
    font-family: Monaco, Consolas, monospace;
    font-size: 11px;

    padding: 8pt;
    margin: 1.2em;

    border: 1px solid Gainsboro;
    box-shadow: 0 0 1em #777777;
}

pre.src {
    background-color: #212121;
    color: white;
    position: relative;
    overflow: visible;
    padding-top: 1.2em;
}
pre.src:before {
    display: none;
    position: absolute;
    background-color: white;
    top: -10px;
    right: 10px;
    padding: 3px;
    border: 1px solid black;
}
pre.src:hover:before { display: inline;}
pre.src-c++:before {content: 'cpp';}
pre.src-sh:before    { content: 'sh'; }
pre.src-bash:before  { content: 'sh'; }
pre.src-emacs-lisp:before { content: 'Emacs Lisp'; }
pre.src-R:before     { content: 'R'; }
pre.src-perl:before  { content: 'Perl'; }
pre.src-java:before  { content: 'Java'; }
pre.src-sql:before   { content: 'SQL'; }
table { border-collapse:collapse; }
caption.t-above { caption-side: top; }
caption.t-bottom { caption-side: bottom; }
td, th { vertical-align:top;  }
th.right  { text-align: center;  }
th.left   { text-align: center;   }
th.center { text-align: center; font-style: normal;}
td.right  { text-align: right;  }
td.left   { text-align: left;   }
td.center { text-align: center; font-style: normal;}
dt { font-weight: bold; }
.footpara:nth-child(2) { display: inline; }
.footpara { display: block; }
.footdef  { margin-bottom: 1em; }
.figure { padding: 1em; }
.figure p { text-align: center; }
.inlinetask {
    padding: 10px;
    border: 2px solid gray;
    margin: 10px;
    background: #ffffcc;
}
#org-div-home-and-up
{ text-align: right; font-size: 70%; white-space: nowrap; }
textarea { overflow-x: auto; }
.linenr { font-size: smaller }
.code-highlighted { background-color: #ffff00; }
.org-info-js_info-navigation { border-style: none; }
#org-info-js_console-label
{ font-size: 10px; font-weight: bold; white-space: nowrap; }
.org-info-js_search-highlight
{ background-color: #ffff00; color: #000000; font-weight: bold; }
