@media all
{
body {
    font-family: Georgia, "Microsoft YaHei", Lucida, sans-serif, monospace;
    margin: 5% 15% 5% 15%;
    padding: 2% 5% 2% 5%;

    border: 1px solid Gainsboro;
    line-height: 150%;
    box-shadow: 0 0 1em #777777;
	  -webkit-box-shadow: 0 0 1em #777777;
	  -moz-box-shadow: 0 0 1em #777777;
	  -webkit-border-bottom-left-radius: 5px;
	  -moz-border-radius-bottomleft: 5px;
}

blockquote {
    text-align: right;
    margin-bottom: 100px;
    font-family: Georgia, "Courier New", serif;
    padding-right: 5px;
}
.title {
    font-family: "Segoe Print","Courier New", serif;
    color: #990000;
    margin-bottom: 20px;
    border-bottom: 2px solid Gainsboro;
}

h2 {
    font-family: "Segoe Print","Courier New", "Palatino Linotype", serif;
    color: #990000;
    border-bottom: 1px solid Gainsboro;
    margin-bottom: 40px;
    padding-left: 1%;
}

h3 {
    font-family: "Segoe Print", "Courier New", "Palatino Linotype", serif;
    color: #990000;
    padding: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
}

h4 {
    font-family: "Segoe Print", "Courier New", "Palatino Linotype", serif;
    line-height: 100%;
}

a {
    text-decoration: none;
    color: #000999;
}

a:visited {
    text-decoration: none;
    color: #009999;
}

a:hover {
    text-decoration: underline;
    color: #003333;
}

li {
    margin-left: 3px;
    padding-top: 3px;
    line-height: 120%;
}

code {
    font-family: Monaco, Consolas, monospace;
    background-color: white;
    color: gray;
}
p {
}


pre {
      background-color: #FFFACD;
      border: 1px solid Gainsboro;
      font-family: Monaco, Consolas, monospace;
      font-size: 11px;
      color: black;
      overflow: auto;
      padding: 1em;
}
#postamble {
    font-family: "Courier New", "Palatino Linotype", serif;
    background-color: #FFFACD;
    font-size: 14px;
	  margin-top: 50px;
	  border: 1px dashed Gainsboro;
    box-shadow: 0 0 1em #777777;
	  -webkit-box-shadow: 0 0 1em #777777;
    -moz-box-shadow: 0 0 1em #777777;
	  -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
}

.todo {
    color: #990000;
    font-weight: bold;
}
.done {
    color: #006666;
    font-weight: bold;
}

#table-of-contents {
    font-size: 10px;
    position: fixed;
    right: 0em;
    top: 0em;
    text-align: right;
    max-height: 80%;
    overflow: auto;
    background: white;
    box-shadow: 0 0 1em #777777;
	  -webkit-box-shadow: 0 0 1em #777777;
	  -moz-box-shadow: 0 0 1em #777777;
	  -webkit-border-bottom-left-radius: 5px;
	  -moz-border-radius-bottomleft: 5px;
}
#table-of-contens h2 {
    max-width: 8em;
    font-weight: normal;
    padding: 0.5em;

}

#table-of-contents #text-table-of-contents {
	  display: none;
	  text-align: left;
}
#table-of-contents:hover #text-table-of-contents {
  	display: block;
  	padding: 0.5em;
	  margin-top: -2em;
}

.org-center {
    font-size: 14px;
    font-style: italic;
}
}

@media screen
{
    #table-of-contents {
    float: right;
    border: 1px solid #CCC;
    max-width: 50%;
    overflow: auto;
  }

}

