body {
    background-color: #dddddd;
    font-family: Georgia, "Microsoft YaHei", Lucida, sans-serif, monospace;
    margin: 5% 20% 5% 20%;
}
#content {
    background-color: white;

    padding: 2% 5% 2% 5%;
    border: 1px solid Gainsboro;
    box-shadow: 0 0 1em #777777;
	  -webkit-box-shadow: 0 0 1em #777777;
	  -moz-box-shadow: 0 0 1em #777777;
	  -webkit-border-bottom-left-radius: 5px;
	  -moz-border-radius-bottomleft: 5px;
}

blockquote {
    font-family: Georgia, "Courier New", serif;
    text-align: right;
    margin-bottom: 100px;
    padding-right: 5px;
}
.title {
    font-family: Georgia, "Courier New", serif;
    color: #990000;
    border-bottom: 2px solid Gainsboro;
}

h2 {
    font-family: Georgia, "Courier New", serif;
    color: #990000;
    border-bottom: 1px solid Gainsboro;
    margin-bottom: 40px;
    padding-left: 5px;
}

h3 {
    font-family: Georgia, "Courier New", serif;
    margin-top: 60px;
    margin-bottom: 0px;
}

h4 {
    font-family: Georgia, "Courier New", serif;
    font-size: 13px;
    padding-left: 1%;
}

a {
    text-decoration: none;
    color: #000999;
}

a:visited {
    text-decoration: none;
    color: #009999;
}

a:hover {
    text-decoration: underline;
    color: #003333;
}

li {
    font-size: 16px;
    padding: 5px;
}

code {
    font-family: Georgia, "Courier New", serif;
    background-color: white;
    font-size: 16px;
    font-style: italic;
    color: gray;
}
p {
    font-size: 16px;
}


pre {
    background-color: #FFFACD;
    border: 1px solid Gainsboro;
    font-family: Monaco, Consolas, monospace;
    font-size: 11px;
    color: black;
    overflow: auto;

    box-shadow: 0 0 1em #777777;
	  -webkit-box-shadow: 0 0 1em #777777;
    -moz-box-shadow: 0 0 1em #777777;
	  -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;

}
#postamble {
    font-family: Georgia, "Courier New", serif;
    background-color: #FFFACD;
    font-size: 14px;
	  margin-top: 50px;
	  border: 1px dashed Gainsboro;
    box-shadow: 0 0 1em #777777;
	  -webkit-box-shadow: 0 0 1em #777777;
    -moz-box-shadow: 0 0 1em #777777;
	  -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
}




/* org specification */
.todo {
    color: #990000;
    font-weight: bold;
}
.done {
    color: #006666;
    font-weight: bold;
}

.org-center {
    font-size: 16px;
    font-style: italic;
}

.org-ul {
}
.org-dl {
    margin-left: 20px;
}














/* unused toc*/

#table-of-contents {
    display: none;


    font-size: 10px;
    max-width: 50%;
    overflow: auto;
	  border: 1px dashed Gainsboro;
    background-color: #FFFACD;
    box-shadow: 0 0 1em #777777;
	  -webkit-box-shadow: 0 0 1em #777777;
    -moz-box-shadow: 0 0 1em #777777;
	  -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
}
#table-of-contents #text-table-of-contents {
    text-align: left;
    margin-top: -30px;
}
